@font-face{
	font-family: beer;
	font-display: swap;
	src: url("../fonts/beer-money12.woff2") format("woff2"), url("../fonts/beer-money12.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Volja;
	font-display: swap;
	src: url("../fonts/Volja.woff2") format("woff2"), url("../fonts/Volja.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
